# Visual Studio & .NET Build Artifacts
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Native C++ Compiled Binaries
*.obj
*.lib
*.exp
*.pdb
NativeEngine/NativeEngine.dll

# Release Output & Temp Folders
publish_singlefile/
DSAT_Temp/

